<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ics.kenya.com"
    android:installLocation="preferExternal"
    android:versionCode="23"
    android:versionName="marikiti business vs 1.0"
    tools:ignore="GradleOverrides">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/marikiti_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/marikiti_logo"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon"
        tools:targetApi="m">

        <activity
            android:name=".login.LoginAsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegionalManager.activities.RegionalManagerLoginActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".FieldAgent.common.FieldOfficerLoginActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".FieldAgent.common.FieldAgentDashboardActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".FieldAgent.activities.ViewList.ViewTradersActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".FieldAgent.activities.ApplicaticantStep5CurrentLocationaActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".RegionalManager.activities.ViewList.ViewRegisteredTradersUnderFieldAgentPortfolioActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".RegionalManager.activities.TransferFieldAgentActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RegionalManager.common.RegionalManagerDashboardActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RegionalManager.activities.RegionalManagerManageFieldAgentsActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RegionalManager.activities.FileFieldAgentReportActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RegionalManager.activities.SearchFieldAgentStaffActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RegionalManager.activities.FieldAgentUserProfilePortfolioActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FieldAgent.activities.RegisterTraderActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RegionalManager.activities.ViewList.RegionalManagerViewFieldAgentsListActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".FieldAgent.activities.AssignRegionActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FieldAgent.activities.ApplicaticantStep2MaritalStatusActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FieldAgent.activities.ApplicaticantStep3NextofKinActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FieldAgent.activities.ApplicaticantStep4RefereeActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FieldAgent.activities.ApplicaticantStep6PermanentHomeAddressActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FieldAgent.activities.ApplicaticantStep7DetailsOfLandLordActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FieldAgent.activities.ApplicaticantStep8BankDetailsActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FieldAgent.activities.ApplicaticantStep9OtherLoansActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FieldAgent.activities.ApplicaticantStep10OtherBusinessActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FieldAgent.activities.ApplicaticantStep1LoanProcessingActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RegionalManager.activities.RegionalMangerTraderRegistrationActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RegionalManager.activities.AssignFieldAgentOfficerActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RegionalManager.activities.ReadReportActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".RegionalManager.activities.TraderProfilePortfolioActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FieldAgent.activities.FileTraderReportActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FieldAgent.activities.TraderPortfolioDetailsActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>